{% extends 'base.html' %}

{% block ad_num %}1{% endblock %}
{% block content %}
  <img class="bg-image" src="{{ url_for('static', filename='imgs/ad-1/bg-1.jpeg') }}" alt="">

  <div class="title-wrapper">
    <p class="title">{{product_name}}</p>
  </div>

  <div class="price">
    US ${{product_price_1}}
  </div>

  <div class="product-image-wrapper">
    <img class="product-image" src="{{ url_for('static', filename=product_image) }}" alt="">
  </div>

  <div class="other-prices">
    <p>US ${{product_price_2}}</p>
    <p>US ${{product_price_3}}</p>
    <p>US ${{product_price_4}}</p>
  </div>
{% endblock %}